/* Simple selector */
body{
  margin: 0px;
}
header{
  text-align: center;
  background-color: #00bf00;
  padding: 10px 25px;
}

/* Combinator selector */
header > h1{
  color: #f4f4f4;
}
/* Contextual selector */
header h1{
  font-size: 2.7em;
  font-family: 'Itim', cursive;
}
header h2{
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;
}
div{
  padding: 75px;
}
/* Grouped selector */
p{
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;
  font-style: normal; 
  font-variant: normal; 
}

/* Structural Pseudo-Class selector */
menu li:last-of-type{
  border-right: none;
}

main div:first-of-type p::first-letter{
  font-weight: 300;
  font-size: 1.5em;
  color: #7d007d;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.textCenter{
  text-align: center;
  font-family: 'Itim', cursive;
  font-size: 1.5em;
}